body {
  background-color: lightblue;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 100vw;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: space-around;
  text-align: center;
  background-color: #a6f188;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
}

.main-container {
  background-image: url("https://wallpaperaccess.com/full/366638.jpg");
  /* background-image: url('skyplantsbokeh.jpg'); */
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  padding-top: 400px;
  padding-bottom: 400px;
}

.main-container img {
  width: 45vw;
  margin: 0 auto;
  border: 3px solid black;
  box-shadow: 8px 8px 8px #302a2a99;
}

h2 {
  text-decoration: underline;
  margin-top: 80px;
  margin-bottom: 0;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 100px;
}

.about-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.about-section img {
  width: 30vw;
  margin: 30px;
  margin-top: 0;
  border: 3px solid black;
  box-shadow: 8px 8px 8px #302a2a99;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 100px;
}

.projects-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.projects-section img {
  width: 20vw;
  margin: 20px;
  margin-top: 0;
  border: 3px solid black;
  box-shadow: 8px 8px 8px #302a2a99;
}

hr {
  border-width: 3px;
  color: black;
}

.connect-container {
  width: 100vw;
  /* margin-top: 20px; */
  padding-bottom: 40px;
}

.connect-container h2 {
margin-top: 40px;
}

footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  background-color: #a6f188;
  padding: 15px;
  /* position: fixed; */
  bottom: 0;
  left: 0;
}

.footer-text {
  font-size: 10px;
}

/*  - - - - - - - R E S P O N S I V E - - - - - - - */
@media (max-width: 500px) {
  img {
    width: 85vw;
  }
}
