body {
  background-image: url("https://wallpaperaccess.com/full/366638.jpg");
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 100vw;
  margin-top: 80px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vw;
  background-attachment: fixed;
  /* z-index: 2; */
}

header {

}

a {
text-decoration: none;
}

footer {
  display: flex;
  width: 100%;
  /* align-items: center; */
  justify-content: space-around;
  text-align: center;
  background-color: #a6f188;
  padding: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  /* padding-left: 100px;
  padding-right: 100px; */
}

.footer-text {
  font-size: 10px;
}